<!-- views/home.ejs -->
<div class="block-header">
  <h2>SELAMAT DATANG</h2>
</div>

<div class="row clearfix">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="info-box bg-pink hover-expand-effect">
      <div class="icon"><i class="bi bi-envelope"></i></div>
      <div class="content">
        <div class="text">TOTAL SURAT</div>
        <div class="number">120</div>
      </div>
    </div>
  </div>
</div>
